// colors

//$color-1: #3e454c; // Mako
//$color-2: #1784c7; // Denim
//$color-3: #ffffff; // White
//$color-4: #ff7e66; // Salmon

// color Scheme for Create Post Form
$color-1: #2b3e51; // Pickled Bluewood
$color-2: #2c97de; // Curious Blue
$color-3: #ecf0f1; // Porcelain
$color-4: #ffffff; // White
$color-5: #e94b35; // Cinnabar

$color-5: #e94b35; // Cinnabar

// fonts 

$primary-font: 'Open Sans', sans-serif;

// header size

$header-height-S: 45px;
$header-height-M: 55px;

//sidebar size

$sidebar-width-M: 110px;
$sidebar-width-L: 200px;



//Login 


// colors

$main-text: #505260; // main text
$background: #fff; // body background color

$color-1: #343642; // blue-dark
$color-2: #2f889a; // blue-light
$color-3: #d2d8d8; // grey

$red: #d76666; // error messages


// z-index

$content-zindex: 1;
$header-zindex: 2;
$modal-zindex: 3;
