<header class="cd-main-header">
    <a href="#0" class="cd-logo"><img src="assets/images/ngClassifiedLogo.png" alt="Logo"></a>
    
    <div class="cd-search is-hidden">
        <form action="#0">
            <input type="search" placeholder="Search...">
        </form>
    </div> <!-- cd-search -->

    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

    <nav class="cd-nav">
        <ul class="cd-top-nav">
            <!--li><a href="#0">Tour</a></li>
            <li><a href="#0">Support</a></li-->
            <li *ngIf="!logInStatus"><a (click)="signInModal()">Sign in</a></li>
            <li *ngIf="!logInStatus" ><a (click)="signUpModal()" >Sign up</a></li>
            <li *ngIf="logInStatus" class="has-children account" [class.selected]="accountDropDownActive" (click)="openAcountDropDown($event)">
                <a href="#0">
                    <img src="assets/images/cd-avatar.png" alt="avatar">
                    Account
                </a>
                <ul>
                    <li><a href="#0">My Account</a></li>
                    <li><a href="#0">Edit Account</a></li>
                    <li><a (click)="logOut()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header> <!-- .cd-main-header -->

<main class="cd-main-content">
    <nav class="cd-side-nav is-fixed">
        <ul>
            <li class="cd-label">Main</li>
            <!-- <li class="has-children overview">
                <a >Overview</a>
                
                <ul>
                    <li><a [routerLink]="['Home']">Home</a></li>
                    
                    <li><a href="#0">Category 2</a></li>
                </ul>
            </li> -->
            <li><a [routerLink]="['Home']">Home</a></li>
            <li><a [routerLink]="['Posts']">Posts</a></li>
            <li><a [routerLink]="['CreatePost']">Create Post</a></li>
            
            <!-- <li class="has-children notifications active">
                <a href="#0">Notifications<span class="count">3</span></a>
                
                <ul>
                    <li><a href="#0">All Notifications</a></li>
                    <li><a href="#0">Friends</a></li>
                    <li><a href="#0">Other</a></li>
                </ul>
            </li>

            <li class="has-children comments">
                <a href="#0">Comments</a>
                
                <ul>
                    <li><a href="#0">All Comments</a></li>
                    <li><a href="#0">Edit Comment</a></li>
                    <li><a href="#0">Delete Comment</a></li>
                </ul>
            </li> -->
        </ul>

        <ul>
            <li class="cd-label">Secondary</li>
       <!--      <li class="has-children bookmarks">
                <a href="#0">Bookmarks</a>
                
                <ul>
                    <li><a href="#0">All Bookmarks</a></li>
                    <li><a href="#0">Edit Bookmark</a></li>
                    <li><a href="#0">Import Bookmark</a></li>
                </ul>
            </li>
            <li class="has-children images">
                <a href="#0">Images</a>
                
                <ul>
                    <li><a href="#0">All Images</a></li>
                    <li><a href="#0">Edit Image</a></li>
                </ul>
            </li> -->

            <li class="has-children users">
                <a href="#0">Users</a>
                
                <ul>
                    <li><a href="#0">All Users</a></li>
                    <li><a href="#0">Edit User</a></li>
                    <li><a href="#0">Add User</a></li>
                </ul>
            </li>
        </ul>

        <ul>
            <li class="cd-label">Action</li>
            <li class="action-btn"><a href="#0">+ Button</a></li>
        </ul>
    </nav>

    <div class="content-wrapper">

        <router-outlet></router-outlet>
     
    </div> <!-- .content-wrapper -->
    <signin-up [signInUpModal]="signInUpActive" (closeSignInUp)="closeSignInUpModal($event, value)"  (loginStatusEvent)="upateLoginStatus($event, value)"></signin-up>
</main> <!-- .cd-main-content -->